<!DOCTYPE html>
<html>
<head>
	<title>Customer List Page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h3>Customer List</h3>

	<a href="/Mhome">Back</a> |
	<a href="/logout">logout</a>
	<br>
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>USERNAME</td>
			<td>NAME</td>
			<td>PASSWORD</td>
			<td>EMAIL</td>
			<td>CONTACT_NO</td>
			<td>GENDER</td>
			<td>TYPE</td>
			<td>ADDRESS</td>
		</tr>

		<% for(var i=0; i< cuslist.length; i++ ){ %>
		<tr>
			<td><%= cuslist[i].ID %></td>
			<td><%= cuslist[i].UserName %></td>
			<td><%= cuslist[i].Name %></td>
			<td><%= cuslist[i].Password %></td>
			<td><%= cuslist[i].Email %></td>
			<td><%= cuslist[i].ContactNo %></td>
			<td><%= cuslist[i].Gender %></td>
			<td><%= cuslist[i].UserType %></td>
			<td><%= cuslist[i].Address %></td>
			<td>
				<a href="">Edit</a> | 
				<a href="/user1/cusDelete/<%=cuslist[i].ID%>">Delete</a>  
			</td>
		</tr>
		<% } %>
	</table>
</body>
</html>