<!DOCTYPE html>
<html>
<head>
	<title>Transaction List Page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h3>Transaction List</h3>

	<a href="/Mhome">Back</a> |
	<a href="/logout">logout</a>
	<br>
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			
			<td>SEND</td>
			<td>RECEIVE</td>
			<td>TOTAL BALANCE</td>
			<td>DATE</td>
		</tr>

		<% for(var i=0; i< trnslist.length; i++ ){ %>
		<tr>
			<td><%= trnslist[i].tid %></td>
			
			<td><%= trnslist[i].send %></td>
			<td><%= trnslist[i].receive %></td>
			<td><%= trnslist[i].balance %></td>
			<td><%= trnslist[i].date %></td>
		</tr>
		<% } %>
	</table>
</body>
</html>