
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create Member</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Add Member</h2>
 
  <form method="POST">
    <div class="form-group">
      <label for="usr">Full Name:</label>
      <input type="text" class="form-control" id="usr" name="name" value="<%= user.Name %>">
	</div>
	  <div class="form-group">
		<label for="email">Email:</label>
		<input type="email" class="form-control" id="email" name="email" value="<%= user.Email %>">
	  </div>
	  <div class="form-group">
		<label for="cntno">Contact Number:</label>
		<input type="text" class="form-control" id="cntno" name="contactno" value="<%= user.ContactNO %>">
	  </div>
	  <div class="form-group">
		<label for="adrs">Address:</label>
		<input type="text" class="form-control" id="adrs" name="address" value="<%= user.Address %>">
	  </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" value="<%= user.Password %>">
	</div>
	
	<button type="submit" class="btn btn-primary">Submit</button><br>
	<a href="/adminhome/profile">Cancel</a>
  </form>
</div>

</body>
</html>
