<!DOCTYPE html>
<html lang="en">
<head>
  <title>ManagerList</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  <h1>Profile Manupulation</h1>
   
<center>
<div class="container"> 
<h1></h1> 
  <table border="1">
    <thead>
      <tr>
          
          <th>Id</th>
          <th>Name</th>
          <th>User Name</th>
					<th>Email</th>
					<th>Contact No</th>
					<th>Gender</th>
					<th>User Type</th>
          <th>Address</th>
          <th>Action</th>
      </tr>
    </thead>
    <tbody>
        <% 
        users.forEach( function(std){ %>
        <tr>
            <td><%= std.ID %></td>
            <td><%= std.Name %></td>
            <td><%= std.UserName %></td>
            <td><%= std.Email %></td>
            <td><%= std.ContactNO %></td>
            <td><%= std.Gender %></td>
            <td><%= std.UserType %></td>
            <td><%= std.Address %></td>
           <td>
                <a href="/user/editprofile/<%= std.ID %>">Edit</a>
            </td>
        </tr>
    <%
        }); 
    %>
    </tbody>
  </table>
</div>
</center>
<center><a class="text-info" href="/adminhome">Back</a></center>

</body>
</html>